
.calculator button {
    margin: 3%;
    flex-grow: 1;
    font-size: x-large;
}

.calculator {
    display: flex;
    background-color: gray;
    width: 40%;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

@media (max-width: 768px) {
    .calculator button {
        margin: 3%;
        flex-grow: 1;
        font-size: small;
    }
    .calculator {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .calculator button {
        margin: 3%;
        flex-grow: 1;
        font-size: medium;
    }
    .calculator {
        width: 50%;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.result {
    background-color: lightgray;
    font-size: xx-large;
    box-shadow: inset 5px 10px 20px 0px rgba(0,0,0,0.75);
    flex-grow: 1;
    text-align: right;
}

.red-text {
    color: red;
}

.black-text {
    color: black;
}
